.App {
  text-align: center;
}

body, html {
  height: 100vh;
}

.parallax {
  /* The image used */
  background-image: url('isaac-quesada-56_x6UCfgG4-unsplash.jpg');
  display: flex;
  /* Full height */
  height: 100vh; 
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  
  flex-direction: column;
}

.parallax > h1 {
  padding-top: 10vh;
  color: whitesmoke;
  font-size: 4rem;
}

.parallax2 {
  /* The image used */
  background-image: url('rowan-heuvel-ESDg_Afz2HU-unsplash.jpg');
  display: flex;
  /* Full height */
  height: 60vh; 
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.parallax2 > h1 {
     color: whitesmoke;
     font-size: 4rem;
}

.parallax2 > p {
      width: 60vw;
      color: whitesmoke;
      font-weight: 600;
}

.parallax3 {
  /* The image used */
  background-image: url('isaac-quesada-56_x6UCfgG4-unsplash.jpg');

  /* Full height */
  height: 100vh; 
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat repeat;
  background-size: cover;
  padding-top: 10vh;
}

.line {
  display: flex;
  height: 20vh;
  background-color: black;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 100vw;
}

.line > p {
  padding-right: 10px;
  color: whitesmoke;
  font-weight: 600;
  font-size: 2rem;
}

.pulsate {
 animation: pulsate 3s ease-out;
  animation-iteration-count: infinite; 
  opacity: 0.5;
}

@keyframes pulsate {
  0% { 
      opacity: 0.5;
      color: lightpink;
  }
  50% { 
      opacity: 1.0;
  }
  100% { 
      opacity: 0.5;
      color: lightpink;
  }
}

.Info-page
{
  height: 40vh;  
  background-color: #F9F7F6;
  padding-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  align-items: center;
}

.Info-page > p {
  padding-right: 5rem;
  padding-left: 5rem;
  color: #282c34;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 700;
  font-size: 2.5em;
}


.Story{
  height: 100vh;
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  margin-left: 5vw;
  margin-right: 5vw;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  background: #241204;
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.Menu-link {
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 2vw;
  text-decoration: none;
}

.flex-container {
  margin: 10vh;
  display: flex;
  flex-direction: row;
  
  justify-content: center;
  align-items: center;
}

.flex-container > div {

  border: 1px solid black;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 50vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
  margin-bottom: 2vh;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.flex-container > img 
{
  width: 100%;
  height: auto;
}

/* Parallax BML sida test */

.parallaxToday {
  /* The image used */
  background-image: url('Today.jpeg');
  display: flex;
  /* Full height */
  height: 80vh; 
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  
  flex-direction: column;
}

.parallaxTomorow {
  /* The image used */
  background-image: url('Tomorrow.jpeg');
  display: flex;
  /* Full height */
  height: 80vh; 
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  
  flex-direction: column;
}

.parallaxEveryday {
  /* The image used */
  background-image: url('Everyday.jpeg');
  display: flex;
  /* Full height */
  height: 80vh; 
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  
  flex-direction: column;
}

.parallaxBMLPic {
  /* The image used */
  background-image: url('BMLPic.jpeg');
  display: flex;
  /* Full height */
  height: 100vh; 
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  
  flex-direction: column;
}
